<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>おみくじ</title>
</head>
<body>
    <h1>おみくじ</h1>
    <p></p>
    <form action="/" method="POST">
        <button type="submit" name="act" value="draw">おみくじをひく！</button>
    </form>
</body>
</html>